
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --blue-gray: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}


.card {
    display: flex;
    max-width: 50rem;
}

.product-img {
    background-image: url(./images/image-product-desktop.jpg);
    width: 75rem;
    background-position: center;
    background-size: cover;
    border-radius: 1rem 0 0 1rem;
}

.product-info {
    background-color: var(--white);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    border-radius: 0 1rem 1rem 0;
}

.category {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--blue-gray);
    text-transform: capitalize;
    margin: 0;
    letter-spacing: .4rem;
}

h1 {
    font-size: 2.5rem;
    font-family: "Fraunces", serif;
    font-weight: 700;
    margin: 0;
    color: var(--dark-blue);
    line-height: 2.5rem;
}

.product-about {
    font-family: "Montserrat", sans-serif;
    color: var(--blue-gray);
    font-weight: 500;
    line-height: 1.7rem;
    margin: 0;
}

.price {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.shop {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

h2 {
    font-family: "Fraunces", serif;
    color: var(--dark-cyan);
    font-size: 2rem;
    margin: .5rem 0;
}

.price p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    text-decoration:line-through;
    color: var(--blue-gray);
}

.btn {
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 10px;
    padding: 1em 5em;
    color: var(--white);
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    padding-right: 1rem;
}

.btn:hover {
    background-color: hsl(153, 58%, 15%);
    cursor: pointer;
}


footer {
    text-align: center;
    margin-top: 10rem;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: var(--blue-gray);
}

footer a {
    text-decoration: none;
    color: var(--dark-blue);
}

@media (max-width: 880px) {

    .card {
        flex-direction: column;
    }

    .product-img {
        background-image: url(./images/image-product-mobile.jpg);
        height: 30rem;
        width: auto;
        background-position: center;
        border-radius: 1rem 1rem 0 0;
    }

    .product-info {
        border-radius: 0 0 1rem 1rem;
    }
}

@media (max-width: 550px) {
    .btn {
        padding: 1rem 0;
    }
}